<app-not-found
  [visible]="!food"
  notFoundMessage="Product Not Found !"
  resetLinkText="Go To HomePage"
>
</app-not-found>
<div *ngIf="food" class="container">
  <img [src]="food.ImageUrl" [alt]="food.name" />

  <div class="details">
    <div class="header">
      <span class="name">
        {{ food.name }}
      </span>
      <span class="favorite {{ food.favorite ? '' : 'not' }}"> ♥ </span>
    </div>

    <div class="origins">
      <span *ngFor="let origin of food.origins">
        {{ origin }}
      </span>
    </div>

    <div class="tag">
      <app-tags [foodPagetags]="food.tags" justifyContent="star"></app-tags>
    </div>
    <div class="cook-time">
      <span>
        Time to cook about <strong>{{ food.cooktime }}</strong
        >Minutes
      </span>
      <div class="price">
        
        
        <span>{{ food.price  }}<span>₹</span> </span>

         
      </div>
    </div>

    <button (click)="addToCart()">Add to cart</button>
  </div>
</div>
